/* Write the CSS for you answer here */
/** { border: 1px solid black;}*/

.BigBox {
    height: 541px;
    width: 700px;

    position: relative;
    display: block;
    margin: auto;


}
img{
max-width:700px;
position: absolute;
}



#tree{
position: absolute;
max-width:700px;
top: 20%;
z-index: 2;
pointer-events: none;
}



.Balls{

    position: absolute;

    z-index: 3;



}
#blueBall {

    top: 200px;
    left: 300px;

}
#orangeBall{
    top: 320px;
    left:360px;
    z-index: 1;



}

#redBall{
    top: 250px;
    left: 400px;
}

#greenBall{
    top: 400px;
    right: 550px;
}
#darkBlueBall{
    top: 330px;
    right: 200px;

}
#pinkBall{
top: 200px;
left: 100px;
}


@keyframes dropAndBounce {
from{

top=0px;
}
50%{top:400px}

75%{top:350px}

to{
top:400px}}

.BigBox:hover .Balls{
    animation-duration: 3s;
    animation-name: dropAndBounce;;


}

