/* Write the CSS for you answer here */
/** { border: 1px solid black;}*/

.BigBox {
    position: fixed;
    width: 80%;
    padding: 10%;




}
#bg{
    position:absolute;
    width: 80%;




}
#tree {

    position: absolute;
    width: 80%;
    padding-top: 20%;
    z-index: 2;
}

.Balls{
    padding-top: 40%;
    position: absolute;
    width: 4%;
    z-index: 3;
}
#blueBall {

    top: 60%;
    left: 40%;

}
#orangeBall{
    top: 100%;
    left:50%;
    z-index: 1;
}

#redBall{
    top: 80%;
    right: 30%;
}

#greenBall{
    left: 20%;
}
#darkBlueBall{
    left: 35%;

}