/* Write the CSS for you answer here */
/** { border: 1px solid black;}*/

.BigBox {
    height: 541px;
    width: 50%;

    position: relative;

    margin: auto;


}
img{
max-width=700px;
position: absolute;
}



#tree{
position: absolute;
max-width:700px;
top: 20%;
z-index: 2;
pointer-events: none;
}
.Balls{

    position: absolute;

    z-index: 3;
    width: 49px;
    transition: width 2s ease;
}
#blueBall {

    top: 200px;
    left: 300px;

}
#orangeBall{
    top: 320px;
    left:360px;
    z-index: 1;



}

#redBall{
    top: 250px;
    left: 400px;
}

#greenBall{
    top: 400px;
    left: 170px;
}
#darkBlueBall{
    top: 330px;
    left: 200px;

}
#pinkBall{
top: 200px;
left: 100px;
}

.Balls:hover {
    width: 70px;


}
#orangeBall:hover{
    width: 90px;
}